@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
body {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    background-color: beige;
}

h1, h2, h3, h4, h5 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.header{
    padding: 20px 0 15px 0;
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header>a{
    display: inline-block;
    float: right;
}

.header>h2{
    display: inline;
}